@import "~materialize-css/dist/css/materialize.min.css";

input.yellow-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}
input.yellow-input + label {
  color: #fff;
}
input.yellow-input:focus + label {
  color: #ffeb3b !important;
}
input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b !important;
  box-shadow: 0 1px 0 0 #ffeb3b !important;
}

body {
  background: #232425;
  color: white;
}
.logo {
  width: 400px;
  height: auto;
}
a {
  font-size: 20px;
  color: white;
  padding: 20px;
  transition: 0.3s;
}
a:hover {
  color: #fbba05;
}
.slick-slider img {
  width: 100%;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background-color: transparent;
}

.tabitem {
  border: 2px solid #fff;
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 15px;
  background-color: #280680;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabitem--inactive {
  opacity: 0.3;
  filter: grayscale(100%);
}

.tabitem__icon {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
}

.tabitem__title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  margin: 10px 0;
}

.content {
  text-align: center;
  margin-top: 15px;
  font-size: 22px;
}

.collection {
  border: none;
}
.collection .collection-item {
  cursor: pointer;
  background: #232425;
  color: #fff;
  border-left: 2px solid #232425;
  border-bottom: 2px solid #fff;
  padding: 10px;
  margin: 15px 0px;
}
.collection .collection-item.active {
  background: #232425;
  cursor: pointer;
  border-left: 2px solid #fbba05;

  border-bottom: 2px solid #fbba05;
}
.collection .collection-item.active p {
  color: #fbba05;
}
.font16 {
  font-size: 16px;
}
.m0 {
  margin: 0px;
}
.w100 {
  width: 100%;
}
.p0 {
  padding: 0px;
}
nav {
  background-color: transparent;
  height: auto !important;
  box-shadow: none;
}
.nav-wrapper .right {
  display: flex;
  align-items: center;
  height: 100%;
}
nav .nav-wrapper {
  height: 120px;
}
.brand-logo {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.sidenav-trigger {
  padding: 8px;
  margin: 0px !important;
}
.sidenav {
  background: #232425;
  padding-top: 40px;
}
nav ul a {
  font-size: 20px;
}
.sidenav li > a {
  color: white;
}
p {
  font-size: 16px;
}
@media (max-width: 1100px) {
  .brand-logo svg {
    width: 300px !important;
  }
}
@media (max-width: 992px) {
  nav .brand-logo {
    transform: translateX(-100%);
    left: 100%;
  }
  .nav-wrapper {
    display: flex;
    align-items: center;
  }
  .mflex-block {
    display: flex;
    flex-flow: column;
  }
  .mflex-block .block1 {
    order: 2;
  }
  .mflex-block .block2 {
    order: 1;
  }
}

@media (max-width: 600px) {
  .content .row {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
@media (max-width: 420px) {
  .brand-logo svg {
    width: 200px !important;
  }
}
